{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>My Personal Links</h1>
    <div
        style="display: flex; flex-direction: column; align-items: center; width: 100%; max-width: 500px; margin: 0 auto;">
        <a href="https://www.linkedin.com/in/ariel-reshef-15b624210/" class="btn"
            style="display: block; width: 100%; margin-bottom: 15px; font-size: 1.1rem; padding: 10px 0; background-color: #0077B5; color: white; text-decoration: none;">LinkedIn</a>
        <a href="https://github.com/aryelpanda?tab=repositories" class="btn"
            style="display: block; width: 100%; margin-bottom: 15px; font-size: 1.1rem; padding: 10px 0; background-color: #333; color: white; text-decoration: none;">GitHub</a>
        <a href="https://www.instagram.com/arielreshef/" class="btn"
            style="display: block; width: 100%; margin-bottom: 15px; font-size: 1.1rem; padding: 10px 0; background-color: #E1306C; color: white; text-decoration: none;">Instagram</a>
    </div>
</div>
{% endblock content %}