{% extends "layout.html" %}
{% block content %}
<h2>Resources Used in Project</h2>

<ul>
    <li>Flask - The web framework used for building this application
        <br><small><a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask Documentation</a></small>
    </li>

    <li>SQLAlchemy - ORM (Object Relational Mapper) for database operations
        <br><small><a href="https://docs.sqlalchemy.org/en/20/" target="_blank">SQLAlchemy Documentation</a></small>
    </li>

    <li>Python - The programming language used for backend development
        <br><small><a href="https://docs.python.org/3/" target="_blank">Python Documentation</a></small>
    </li>

    <li>Bootstrap - CSS framework for responsive and mobile-first design
        <br><small><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Bootstrap
                Documentation</a></small>
    </li>

    <li>HTML - Reference for HTML, including comments and structure
        <br><small><a href="https://www.w3schools.com/html/html_comments.asp" target="_blank">HTML Comments -
                W3Schools</a></small>
    </li>

    <li>bcrypt - Password hashing function for secure storage of user passwords
        <br><small><a href="https://www.npmjs.com/package/bcrypt" target="_blank">bcrypt npm package</a></small>
    </li>

    <li>Email Validator - Library for validating email addresses
        <br><small><a href="https://pypi.org/project/email-validator/" target="_blank">email-validator PyPI</a></small>
    </li>

    <li>Email Validation Guide - Additional resource for email validation in Python
        <br><small><a href="https://www.geeksforgeeks.org/check-if-email-address-valid-or-not-in-python/"
                target="_blank">Email Validation in Python - GeeksforGeeks</a></small>
    </li>

    <li>Flask-Mail - Extension for sending emails from the Flask application
        <br><small><a href="https://flask-mail.readthedocs.io/en/latest/" target="_blank">Flask-Mail
                Documentation</a></small>
    </li>

    <li>Pillow - Python Imaging Library for image processing
        <br><small><a href="https://pypi.org/project/pillow/" target="_blank">Pillow PyPI</a></small>
    </li>
</ul>
{% endblock content %}